RewriteEngine on

RewriteRule ^others/?$ index.php?others
RewriteRule ^poem:(.+?)/?$ http://poetry.byJP.me/poems/$1 [QSA,L,R=301]
RewriteRule ^poems/(.+?)$ index.php?poem=$1 [QSA,L]
RewriteRule ^author:(.+?)/?$ http://poetry.byJP.me/authors/$1 [QSA,L,R=301]
RewriteRule ^authors/(.+?)$ index.php?author=$1 [QSA,L]
RewriteRule ^feed/?$ rss.php5 [QSA,L]

#AddHandler x-httpd-php5 .php

RewriteCond %{HTTP_HOST} ^poetry\.kedakai\.co\.uk$
RewriteRule ^(.*)$ http://poetry.byjp.me/$1 [R=301,L]

